@page "/Account/AccessDenied"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Access denied.</h1>
<h2 class="text-danger">You are not authorized to access this content.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
