@page "/server/{ServerName}"
@using ArwynFr.Reforger.ServerMgr.Domain
@using Microsoft.AspNetCore.Authorization
@using System.Diagnostics
@attribute [Authorize]

@inject IServiceProvider ServiceProvider

<h1>Server control : @ServerName</h1>

<div class="form-check form-switch m-3">
  <input class="form-check-input" type="checkbox" value="@IsRunning()" id="checkNativeSwitch" switch>
  <label class="form-check-label" for="checkNativeSwitch">
    Serveur actif
  </label>
</div>

<button class="btn btn-primary btn-primary-lg m-3" @onclick="Start">Start</button>
<button class="btn btn-primary btn-primary-lg m-3" @onclick="Stop">Stop</button>

@code
{
  [Parameter] public required string ServerName { get; set; }

  private async Task<bool> IsRunning()
  {
    ArmaReforgerServer armaReforgerServer = new(ServiceProvider, ServerName);
    return armaReforgerServer.IsRunning;
  }

  private async Task Start(MouseEventArgs args)
  {
    ArmaReforgerServer armaReforgerServer = new(ServiceProvider, ServerName);
    if (armaReforgerServer.IsRunning) { await armaReforgerServer.Stop(CancellationToken.None); }
    await armaReforgerServer.Start(CancellationToken.None);
  }

  private async Task Stop(MouseEventArgs args)
  {
    ArmaReforgerServer armaReforgerServer = new(ServiceProvider, ServerName);
    await armaReforgerServer.Stop(CancellationToken.None);
  }
}