<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Server manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/server/cos-1">
                <span class="bi bi-list-server-nav-menu" aria-hidden="true"></span> Server 1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/server/cos-2">
                <span class="bi bi-list-server-nav-menu" aria-hidden="true"></span> Server 2
            </NavLink>
        </div>
    </nav>
</div>

